<div class="center-content padd-bottom">
  <h1>Goat On A Mission Calendar</h1>

<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=900&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=goatonamission%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="1200" height="900" frameborder="0" scrolling="no"></iframe>
  <br>
  <br>
  <%= link_to "Request A Visit", calendar_path, :class => 'btn btn-success' %>
</div>
