<div class="main-bg-color set-bottom">
  <div class="text-center">
    <br>
    <h1 class="hero-title">Goat On A Mission</h1>
    <br>
    <%= image_tag("hero-small.jpg", :alt => "Hero", class: "style_image") %>
  </div>
  <br>
  <br>
  <br>
  <div class="text-center main-content main-bg-color">
    <h4>Goat On A Mission is a simple idea. There's a goat (Bella), and she has a mission!</h4>
    <br>
    <h4>She is a therapy goat who dresses up and goes about town to cheer up those in need.
      Among other things, she spends time at farmers markets and costume contests to help raise money for charity.
      Her primary charity of choice is Huntington's Disease Society of America <%= link_to "www.hdsa.org", "http://www.hdsa.org", :target => "_blank" %>.
    </h4>
  </div>
</div>
