<div class="center-content main-bg-color set-bottom">
  <h1>Contact Goat On A Mission</h1>
  <br>
  <form action="https://getsimpleform.com/messages?form_api_token=744068e3e84e85b9e8fcb29a5070c52c" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <div>
      <input type='hidden' name='redirect_to' value="http://www.goatonamisson.com/contact/thanks" />
      <input type='text' name='name' placeholder='Your Full Name' />
    </div>
    <br>
    <div>
      <input type='email' name='email' placeholder='Your E-mail Address' />
    </div>
    <br>
    <div>
      <textarea name='message' placeholder='Write your message ...'></textarea>
    </div>
    <br>
    <div>
      <input type='submit' value='Send Message' />
    </div>
  </form>
</div>
