<div class="center-content main-bg-color set-bottom">
  <h1>Thank you for contacting Goat On A Mission</h1>
  <br>
  <p>Bella and her team will conatact you as soon as she learns to type. :)<p>
</div>
